<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Shop</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'shared/navbar' %>
    <% if content_for :header %>
      <%= yield :header %>
    <% end %>

    <!-- Page Content -->
    <div class="container">
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
